{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["eslint-config-leapfrog", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "require-jsdoc" : 0,
    "padding-line-between-statements": "off",
    "newline-before-return": "off",
    "no-await-in-loop": "off",
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ]
  }
}
